.reviews {
    display: flex;
    flex-flow: row wrap;
}

.comment {
    max-width: 540px;
    margin-bottom: 25px;
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
}

.comment img {
    width: 50px;
    height: 50px;
    border-radius: 30px;

    align-self: flex-end;
}

.comment_bubble {
    padding: 15px;
    max-width: 470px;
}

.comment_bubble {
    background: #ebebeb;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-left: 20px;
}

.comment_bubble:before {
    content: "";
    position: absolute;
    right: 98%;
    top: 46px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 20px solid #ebebeb;
}

.comment_text {
    text-align: left;
    margin-bottom: 0;
}

.comment_block {
    display: flex;
    justify-content: space-between;
}

.comment_block span {
    margin-left: 10px;
}

.comment_text:first-child {
    margin-top: 0;
}

.comment_text:not(:first-child) {
    margin: 0;
}